<table>
  <tr class="games_header">
  	<th>Date</th>
    <th>Home team</th>
    <th>Home goals</th>
	<th>Away team</th>
    <th>Away goals</th>
    <th>Result</th>
  </tr>

<% @games.each do |game| %>
  <tr class="game_line" id="<%= game.to_label %>">
  	<td><%=h game.short_datetime %></td>
    <td><%=h game.home_team %></td>
    <td><%=h game.home_goals %></td>
	<td><%=h game.away_team %></td>
    <td><%=h game.away_goals %></td>
    <td><%=h game.result %></td>
	<% if show_edit_link? %>
    	<td><%= link_to 'Edit', edit_game_path(game) %></td>
	<% end %>
  </tr>
  
  <tr>
  	 <td colspan="6">Forecasts for <%= game.home_team %> v. <%= game.away_team %></td>
  </tr>	

  <% game.forecasts.each do |forecast| %>  
	  <tr class="<%= get_class(forecast) %>">
			<td><%= forecast.user.nick %></td>
			<td><%= forecast.game.home_team.name %></td>
			<td><%= forecast.home_goals %></td>
			<td><%= forecast.game.away_team.name %></td>
			<td><%= forecast.away_goals %></td>
			<td><%= forecast.result_label %></td>
			
	  </tr>
  <% end %>
<% end %>
</table>
