<h1>Game Results</h1>

<table>
  <tr>
  	<th>Date</th>
    <th>Home team</th>
    <th>Away team</th>
    <th>Home goals</th>
    <th>Away goals</th>
    <th>Result</th>
  </tr>

<% @games.each do |game| %>
  <tr>
  	<td><%=h game.short_datetime %></td>
    <td><%=h game.home_team %></td>
    <td><%=h game.away_team %></td>
    <td><%=h game.home_goals %></td>
    <td><%=h game.away_goals %></td>
    <td><%=h game.result %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New game', new_game_path %>