<h1>New game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :round_number %><br />
    <%= f.text_field :round_number %>
  </p>
  
  <p>
    <%= f.label :datetime %><br />
    <%= f.date_select :datetime %>
  </p>
  
  <p>
    <%= f.label :home_team %><br />
	<%= select(:game, :home_team_id, @teams, {:include_blank => false}) %>

  </p>
  <p>
    <%= f.label :away_team_id %><br />
	<%= select(:game, :away_team_id, @teams, {:include_blank => false}) %>
  </p>
  <p>
    <%= f.label :home_goals %><br />
    <%= f.text_field :home_goals %>
  </p>
  <p>
    <%= f.label :away_goals %><br />
    <%= f.text_field :away_goals %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', games_path %>