<h1>New game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :home_team_id %><br />
    <%= f.text_field :home_team_id %>
  </p>
  <p>
    <%= f.label :away_team_id %><br />
    <%= f.text_field :away_team_id %>
  </p>
  <p>
    <%= f.label :home_goals %><br />
    <%= f.text_field :home_goals %>
  </p>
  <p>
    <%= f.label :away_goals %><br />
    <%= f.text_field :away_goals %>
  </p>
  <p>
    <%= f.label :result %><br />
    <%= f.text_field :result %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', games_path %>