<h1>Listing forecasts</h1>

<table>
  <tr>
  	<th>Date</th>
    <th>Game</th>
    <th>Home Goals Forecast</th>
    <th>Away Goals Forecast</th>
    <th>Result</th>
	<% if show_edit_link? %>
	   <th></th>
	<% end %>
	<th>Home Goals</th>
    <th>Away Goals</th>
    <th>Result</th>
  </tr>

<% @forecasts.each do |forecast| %>
  <tr class="<%= get_class(forecast) %>">
  	<td><%=h forecast.game.short_datetime %> </td>
    <td><%=h forecast.game.home_team %> vs. <%= forecast.game.away_team %> </td>
    <td><%=h forecast.home_goals %></td>
    <td><%=h forecast.away_goals %></td>
    <td><%=h forecast.result_label %></td>
	<% if show_edit_link? %>
	   <td><%= link_to 'Edit', edit_forecast_path(forecast) %></td>
	<% end %>
	<td><%=h forecast.game.home_goals %> </td>
	<td><%=h forecast.game.away_goals %> </td>
    <td><%=h forecast.game.result %> </td>
  </tr>
<% end %>
</table>

<br />

