<% if !logged_in? %>
<div class="join">
	<em><%= @nickname %></em> is using <a href="http://wc.etagwerker.com" style="margin-right:0px;">http://wc.etagwerker.com</a> to track World Cup forecasts and play with friends. If you want to play, <a href="http://wc.etagwerker.com/users/new">sign up!</a>
</div>
<% end %>

<h1 style="float:left;">Forecasts by <em><%= @nickname %></em></h1> 

<table class="reference">
	<tr>
		<td class="correct_forecast">&nbsp;</td>
		<td>Correct</td>
		<td class="exact_forecast">&nbsp;</td>
		<td>Exact</td>
		<td class="wrong_forecast">&nbsp;</td>
		<td>Wrong</td>
		<td>&nbsp;</td>
		<td>Not played yet</td>
	</tr>
</table>

<% if @forecasts.size == 0 %>

<h2 style="clear:left;">No forecasts for round: <%= @round %></h2>
	
<% else %>
	
<table class="forecasts">
  <tr>
  	<th>Date</th>
    <th>Game</th>
    <th>Home Goals Forecast</th>
    <th>Away Goals Forecast</th>
    <th>Result</th>
	<% if show_forecasts_edit_link? %>
		<th></th>
	<% end %>
	<th>Home Goals</th>
    <th>Away Goals</th>
    <th>Result</th>
  </tr>

<% @forecasts.each do |forecast| %>
  <tr class="<%= get_class(forecast) %>">
  	<td><%=h forecast.game.short_datetime %> </td>
    <td><%=h forecast.game.home_team %> vs. <%= forecast.game.away_team %> </td>
    <td><%=h forecast.home_goals %></td>
    <td><%=h forecast.away_goals %></td>
    <td><%=h forecast.result_label %></td>
	<% if show_forecasts_edit_link? %>
		<td><%= link_to 'Edit', edit_forecast_path(forecast) %></td>
	<% end %>
	
	<td><%=h forecast.game.home_goals %> </td>
	<td><%=h forecast.game.away_goals %> </td>
    <td><%=h forecast.game.result %> </td>
  </tr>
<% end %>
</table>

<% end %>

<br />

