<h1>Listing forecasts</h1>

<table>
  <tr>
  	<th>Date</th>
    <th>Game</th>
    <th>Home goals</th>
    <th>Away goals</th>
    <th>Result</th>
  </tr>

<% @forecasts.each do |forecast| %>
  <tr>
  	<td><%=h forecast.game.datetime %> </td>
    <td><%=h forecast.game.home_team %> vs. <%= forecast.game.away_team %> </td>
    <td><%=h forecast.home_goals %></td>
    <td><%=h forecast.away_goals %></td>
    <td><%=h forecast.result %></td>
  </tr>
<% end %>
</table>

<br />

